		<!-- navbar -->
		<div class="navbar navbar-fixed-top">

			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="i-bar"></span>
						<span class="i-bar"></span>
						<span class="i-bar"></span>
					</a>
          			<%= link_to "TKWA DB", '#', :class => "brand" %>

          			<div class="nav-collapse">
            			<ul class="nav">
              				<li class="active">
                				<a href="./projects/index">Projects</a>
                				<div class="triangle"></div>
              				</li>
              				<li class="">
                				<a href="#">Contacts</a>
              				</li>
              				<li class="">
                				<a href="#">Timesheets</a>
              				</li>
              				<li class="">
                				<a href="#">Patterns</a>
              				</li>
             			</ul>
          			</div>
          			<div class="signin-box">
          				<%= link_to "Sign up now!", signup_path, :class => "signup-btn" %>
          				<%= link_to "Sign in", '#', :class => "btn"  %>
          			</div>
        		</div>
        		
      		</div>
      		
    	</div> <!-- end navbar -->